* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #0000C0;
            color: #ffffff;
            font-family: 'Kode Mono', monospace;
            font-weight: 450; /* Standard vekt */
            line-height: 1.6;
        }

        .container {
            max-width: 1024px;
            margin: 0 auto;
            padding: 2rem;
        }

        header, main, footer {
            padding: 2rem 0;
        }
        img {
            max-width: 100%;
            height: auto;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
        }

        ul {
            padding-inline-start: 40px;
        }

        a {
            color: #FFD700; /* Lys gul farge */
            font-weight: 700;
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease;
            padding-bottom: 2px; /* Gir plass til understreken */
        }

        a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #FFD700;
            transition: width 0.3s ease;
        }

        a:hover {
            font-weight: 700; /* Fete teksten ved hover */
            color: #FFD700;
        }

        a:hover::after {
            width: 100%; /* Animerer understreken fra venstre til høyre */
        }

        @media (max-width: 768px) {
            .container {
                padding: 1rem;
            }
            
            h1 {
                font-size: 2rem;
            }
            
            p {
                font-size: 1rem;
            }
        }
        
        .goog-te-banner-frame { 
            display: none !important; 
        }
        body { 
            position: static !important; 
            top: 0px !important; 
        }
        .goog-logo-link { 
            display: none !important; 
        }
        .goog-te-gadget { 
            color: transparent !important; 
        }
